.footer1 {
  section {
    @extend %pos--relative;
    min-height: 220px;
  }

  .footer1_contents {
    @extend %pos--absolute;
    @extend %text--right;
    padding: 4px 8px 4px 4px; /* trbl */
    right: 0;
    bottom: 20%;
    width: 50%;

    p, 
    a {
      color: #F9E9CF;
    }
  }
}