@import url('https://fonts.googleapis.com/css?family=Andada');

%andada--regular {
  font-family: "Andada", serif;
}

// 
// ==================================================/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}